@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .user-details .input-box-last{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box-last .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box-last input{
    height: 45px;
    width: 150%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus, 
.user-details .input-box input:valid{
    border-color: #9b59b6
} 
.user-details .input-box-last input:focus, 
.user-details .input-box-last input:valid{
    border-color: #9b59b6
}
form .marital-status .marital-span{
    font-size: 20px;
    font-weight: 500;
}
form .marital-status .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content:  space-between;
}
.marital-status .category label{
    display: flex;
    align-items: center;
}
.marital-status .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
form .house-ownership .house-span{
    font-size: 20px;
    font-weight: 500;
}
form .house-ownership .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.house-ownership .category label{
    display: flex;
    align-items: center;
}
.house-ownership .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
form .car-ownership .car-span{
    font-size: 20px;
    font-weight: 500;
}
form .car-ownership .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.car-ownership .category label{
    display: flex;
    align-items: center;
}
.car-ownership .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1a:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-2a:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-1b:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-2b:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-3b:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-1c:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #9b59b6;
}
#dot-2c:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin-top: -30px;
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);  
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .user-details .input-box-last{
        margin-bottom: 15px;
        width: 100%;
    }
    .user-details .input-box-last input{
        width: 100%;
    }
    form .marital-status .category{
        width: 100%;
    }
    form .house-ownership .category{
        width: 100%;
    }
    form .car-ownership .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
#prediction-text-approved{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4CAF50; /* Green color, adjust as needed */
    margin-top: 100px;
    margin-bottom: 235px;
}
#prediction-text-rejected{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-top: 100px;
    margin-bottom: 235px;
}
.container-prediction{
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container-prediction .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container-prediction .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

